.logo{
  height: 150px;
}
.nav{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contact{
 margin-left: 960px;
}

@media only screen and (max-width: 1200px) {
  .contact {
    margin-left: 0; 
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    height: 100px; 
  }
}